*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}


html,
body {

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

input[type="text"] {


    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

input {
    outline: 0 !important;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none !important;
}
.main_container {
     background: linear-gradient(105.9deg, #263F7C 0%, #0C2134 50.52%, #021220 100%),
    linear-gradient(0deg, #E9D758, #E9D758);
}
.header_block {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.header_logo {
    margin-top: 43px;
}
.main_header {
    color: #E9D758;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 96px */
    margin-top: 364px;
    width: 1030px;
 
}
section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.main_block_wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.main_block_wrapper img {
    margin-top: 206px;
    margin-bottom: 143px;
}
.main_txt {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-top: 70px;
    margin-bottom: 70px;
}
.products_button {
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    border-radius: 30px;
    border: 3px solid #E9D758;
    background: rgba(217, 217, 217, 0.00);
    width: 262px;
    height: 60px;
    flex-shrink: 0;
    padding: 17px 25px;
    display: block;
    line-height: 19px;
  
}
.products_button:hover {
    transform: scale(0.95);
    box-shadow: 0px 4px 25px 0px #E9D758;
}
.main_block {
    display: block;
}
.central_block_wrapper {
    background: #FFFFFA;
}
.central_block_header {
    color: #122844;
    text-align: center;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 96px */

    
    
}
.central_block_item_header {
    display: flex;
}
.central_block_item_header h3 {
    color: #E9D758;
    font-family: 'Inter';
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 26px;
    
}
.central_block_item {
    border-radius: 15px;
    background: #182F57;
    width: 501px;
    height: 458px;
    flex-shrink: 0;
    padding: 50px 50px;
    box-shadow: 0px 4px 25px 0px rgba(11, 35, 59, 0.5);
    margin: 0 35px;

    }
.central_block_item p {
    color: #E7E3DF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 185%; 
    margin-top: 50px;
}
.central_block_items {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.central_block {
    padding-top: 112px;
    padding-bottom: 150px;
}
.lite {
    color: rgba(18, 40, 68, 1);
    background: rgba(233, 215, 88, 1);
    margin: 0 auto;
 }
 .lite:hover {
    box-shadow: 0px 4px 25px 0px #182F57;
 }
 .contacts_block_header {
    color: #E9D758;
    text-align: center;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 96px */
 }
 .contacts_block_wrapper {
    padding-top: 112px;
    padding-bottom: 150px;
 }
 .contacts_block_txt {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    text-align: center;
    margin-top: 80px;
 }
 .contacts_block_phone, .contacts_block_email {
    display: flex;
    justify-content: center;
    margin-top: 80px;
 }
 .contacts_block_phone p, .contacts_block_email p {
    color: #E9D758;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    margin-left: 46px;
 }
 .contacts_block_info {
    display: flex;
    justify-content: center;
 }
 .contacts_block_phone {
    margin-right: 230px;
 }
 .line {
    width: 100%;
    height: 3px;
    background: #E9D758;
 }
 footer {
     background: #051726;
 }
 .footer_block_wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 35px;
  
 }
 .footer_menu ul, .footer_contacts ul, .footer_address {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 } 
 .footer_menu ul li a, .footer_contacts ul li, .footer_address p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
 .footer_menu ul li a:hover {
    color: #E9D758;
 }
.footer_menu ul li, .footer_contacts ul li {
    margin-top: 12px;
}
.footer_contacts ul li:last-child span {
    color: #E9D758;
}
.footer_address p {
    margin-top: 26px;
}
.copyright {
    color: #CFEBF8;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    text-align: center;
}
.creator {
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    position: relative;
    text-align: end;
    margin-right: 70px;
    top: -17px;
}
.creator:hover {
    color: #E9D758;
}
.products_header {
    color: #122844;
    text-align: center;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 96px */
    margin-bottom: 200px;
}
.products_block_wrapper {
    background-color: #FFF;
    padding-top: 114px;
    padding-bottom: 114px;
    
    
}
.products_block_item h2 {
    color: #122844;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 22px;
    margin-bottom: 22px;
    width: 320px;

}
.products_block_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1920px;
    margin: 0 auto;
}
.items_page {
    background-color: #FFF;
}
.items_page_header {
    color: #122844;
    text-align: center;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 96px */
   
}